.alert{
    &-custom{
        padding: 0 1rem;
        border-radius: 0;
        border-left: 3px solid $secondary;
        background-color: $white;
        margin: 4rem 0;
    }

    &-title{
        font-size: $subtitle;
        color: $dark;
        margin-bottom: .5rem;
        font-weight: 600;
    }
}