::-webkit-scrollbar {
    height: 4px;
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba($secondary, .4);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $secondary;
  }