.text-fire{
    color: #F41B2E !important;
}
.text-water{
    color: #000 !important;
}
.text-earth{
    color: #FFC90C !important;
}
.text-wood{
    color: #94C83F !important;
}
.text-metal{
    color: #6E6F71 !important;
}